body {
    min-width: 1276px;

    font-family: Roboto;
    font-size: 16px;
    line-height: 150%;

    color: #444240;
}

a {
    text-decoration: none;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

.container-wide {
    position: relative;
    width: 1255px;
    margin: 0 auto;
}

.container-medium {
    width: 1170px;
    margin: 0 auto;
}

.container-narrow {
    width: 1000px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 26px 38px 27px;
    
    font-family: Roboto;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.header {
    background: #FDFDFB;
    height: 768px;
}

.header-top {
    display: flex;
    align-items: center;
    padding-top: 31px;
}

    .header-top .menu-btn {
        margin-right: 24px;
    }

    .header-top .header-action-bar {
        margin-left: auto;

        font-size: 0px;
    }

.action-btn {
    margin-right: 23px;
}

    .action-btn:last-child {
        margin-right: 0px;
    }

.header-left {
    display: flex;
    height: 768px;
    align-items: center;
}

    .header-left .social-buttons {
        display: flex;
        flex-direction: column;

        font-size: 0px;
    }

    .header-left .social-btn {
        margin-bottom: 13px;
    }

    .header-left .social-btn:last-child {
        margin-bottom: 0px;
}

.header-promo {
    z-index: 1;
    padding-left: 108px;
    background: url(../img/line1.png) no-repeat 47px 35px;
}

.header-promo h1 {
    padding-left: 4px;

    font-family: Playfair Display;
    font-weight: normal;
    font-size: 45px;
    line-height: 60px;

    color: #1B1A17;
}

.header-promo h2 {
    padding-left: 4px;
    margin-top: 16px;
    font-family: Playfair Display;
    font-weight: normal;
    font-size: 30px;
    line-height: 40px;

    color: #1B1A17;
}

.header-promo p {
    padding-left: 4px;
    margin-top: 39px;
    margin-bottom: 64px;
    font-family: Roboto;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: rgba(27, 26, 23, 0.82);
}

.header-promo .btn {
    color: #FFFFFF;
    background-color: #444240;
}

.header-promo .btn:hover {
    background-color: #444240be;
}

.header-promo .btn:active {
    color: rgba(255, 255, 255, 0.705);
}

.watch-main {
    position: absolute;
    left: 407px;
    top: -9.41px;
    padding-left: 200px;

    transform: rotate(-0.18deg);
    background: url(../img/main_ellipse.png) no-repeat 17px 0px;
}

.watch-feature {
    font-family: Prata;
    font-size: 16px;
    line-height: 22px;

    color: #1B1A17;
}

.header .price {
    padding-right: 67px;
    position: absolute;
    left: 528px;
    top: 138px;

    background: url(../img/line1.png) no-repeat 90px 9px;
}

    .header .price p {
        display: inline-block;
        margin-right: 7px;
    }

.header .characteristic {
    padding-left: 67px;
    position: absolute;
    left: 1010px;
    top: 636px;

    background: url(../img/line1.png) no-repeat 0px 9px;
}

.popular-items {
    padding-top: 79px;
    padding-bottom: 80px;
    background: #fff;
}

.section-title {
    font-family: Playfair Display;
    font-weight: normal;
    font-size: 32px;
    line-height: 43px;

    color: #1B1A17;
}

.popular-items .section-title {
    text-align: center;
}

.catalog-link {
    position: relative;
    top: -10px;
    padding-bottom: 30px;

    text-align: right;

    background: url(../img/line2.png) no-repeat right 0px top 28px;
}

.catalog-link a {
    font-weight: 500;
    line-height: 19px;

    color: #444240;
}

.catalog-link a:hover {
    color: #444240bb;
}

.catalog-link a:active {
    color: #4442407e;
}

.catalog-row {
    display: flex;
    flex-wrap: wrap;
}

.catalog-item {
    position: relative;
    background-color: #FDFDFB;
    padding: 40px;
}

.catalog-row-top {
    height: 467px;
}

.catalog-row-bottom {
    height: 220px;
}

.catalog-row-top {
    margin-bottom: 40px;
}

.catalog-item-top-left {
    width: 290px;
    margin-right: 40px;

    background: #FDFDFB url(../img/ellipse.png) no-repeat 41px 84px;
}

    .catalog-item-top-left img {
        position: absolute;
        top: 92px;
        left: 49px;

        transform: scale(1.06);
    }

.catalog-item-top-right {
    padding: 55px;
    padding-bottom: 48px;

    flex-grow: 1;

    background: #FDFDFB url(../img/ellipse2.png) no-repeat 459px 0px;
}

    .catalog-item-top-right img {
        position: absolute;
        top: 2px;
        left: 230px;

        transform: scale(1.04);
        transform-origin: top;
    }

.catalog-item-bottom-left {
    width: 485px;
    margin-right: 40px;
    height: 140px;

    background: #FDFDFB url(../img/ellipse3.png) no-repeat 231px 0px;
}

    .catalog-item-bottom-left img {
        position: absolute;
        top: 0px;
        left: 209px;

        transform: scale(1.04);
    }

.catalog-item-bottom-right {
    width: 485px;
    height: 140px;

    background: #FDFDFB url(../img/ellipse3.png) no-repeat 281px 0px;
}

    .catalog-item-bottom-right img {
        position: absolute;
        top: -3px;
        left: 278px;

        transform: scale(1.05);
    }

.catalog-item-title {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;

    color: rgba(27, 26, 23, 0.82);
}

.catalog-item-top-right .catalog-item-title {
    font-size: 18px;
}

.catalog-item-price {
    margin-top: 6px;

    font-family: Prata;
    font-size: 12px;
    line-height: 16px;

    color: rgba(27, 26, 23, 0.82);
}

.catalog-item-top-right .catalog-item-price {
    margin-top: 8px;

    font-size: 16px;
    line-height: 22px;
}

.catalog-item-details {
    display: block;
    margin-top: 77px;
    padding-left: 48px;

    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;

    color: #1B1A17;
    background: url(../img/line3.png) no-repeat 0px 11px;
}

.catalog-item-details:hover {
    text-decoration:underline;
}

.catalog-item-details:active {
    color: rgba(27, 26, 23, 0.712);
}

.catalog-item-top-right .catalog-item-details {
    background: url(../img/line1.png) no-repeat 0px 12px;
}

.catalog-item-top-left .catalog-item-details {
    margin-top: 320px;
}

.catalog-item-top-right .catalog-item-details {
    margin-top: 287px;
    padding-left: 66px;
}

.features {
    padding-top: 52px;
    padding-bottom: 53px;

    background: 
    url(../img/ellipse4.png) no-repeat 100% 100%,
    url(../img/ellipse5.png) no-repeat 100% 0%,
    
    linear-gradient(to right, #F7F5EF 36%, #FDFDFB 36%);

}

.left-column {
    float: left;
    margin-right: 70px;
}

.right-column {
    display: inline-block;
    width: 409px;
    padding-top: 85px;
}

.feature-description {
    margin-top: 35px;
    margin-bottom: 45px;

    font-family: Roboto;
    font-size: 16px;
    line-height: 150%;
    text-align: left;

    color: #444240;
}

.features .btn {
    color: #fff;
    background-color: #D4B098;
}

.features .btn:hover {
    background-color: rgba(212, 176, 152, 0.705);
}

.features .btn:active {
    color: rgba(255, 255, 255, 0.705);
}

.photo-switch {
    margin-left: 375px;
    margin-top: 15px;

    font-family: Prata;
    font-size: 12px;
    line-height: 16px;

    color: rgba(27, 26, 23, 0.82);
}

.photo-switch span {
    margin-left: 20px;
    margin-right: 20px;
}

.social-section {
    padding: 80px 0;
}

.social-section .container-medium {
    min-height: 460px;

    background: 
    url("../img/social_photo_3.png") no-repeat right top,
    url("../img/social_photo_1.png") no-repeat right 387px top 0px,
    url("../img/social_photo_2.png") no-repeat right 387px top 238px;
    background-size: 
    377px 460px, 
    242px 228px, 
    242px 222px;
}

.social-section .section-title {
    padding-top: 140px;
}

.social-tip {
    margin-top: 40px;
    margin-bottom: 50px;
    width: 376px;

    line-height: 27px;
}

.social-section .social-buttons {
    font-size: 0px;
}

.social-btn {
    margin-right: 18px;
}

.social-btn:last-child {
    margin-right: 0px;
}

.footer {
    padding: 67px 0;

    background-color: #444240;
}

.footer .container-narrow {
    display: flex;
}

.footer-column {
    margin-right: 118px;
    width: 180px;
}

.footer-column:first-of-type {
    width: 160px;
}

.footer-column:nth-of-type(2) {
    width: 123px;
}

.footer-column:last-of-type {
    margin-right: 0;
}

.footer-phone,
.footer-email {
    font-size: 12px;
    line-height: 14px;
    color: rgba(255, 255, 255, 0.75);
}

.footer-phone {
    margin-top: 23px;
    margin-bottom: 11px;
}

.footer-menu h3 {
    margin-top: 12px;
    margin-bottom: 28px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.07em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.footer-menu ul {
    padding: 0;
    margin: 0;
}

.footer-menu li {
    list-style: none;
}

.footer-menu li a {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;

    color: rgba(255, 255, 255, 0.75);
}

.footer-menu li a:hover {
    text-decoration: underline;
}

.footer-menu li a:active {
    color: rgba(255, 255, 255, 0.35);
}