body {
    min-width: 1276px;

    font-family: Roboto;
    font-size: 16px;
    line-height: 150%;

    color: #444240;
}

a {
    text-decoration: none;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

.container-wide {
    position: relative;
    width: 1255px;
    margin: 0 auto;
}

.container-medium {
    width: 1170px;
    margin: 0 auto;
}

.container-narrow {
    width: 1000px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 26px 38px 27px;
    
    font-family: Roboto;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.header {
    background: #FDFDFB;
    height: 768px;
}

.header-top {
    display: flex;
    align-items: center;
    padding-top: 31px;
}

    .header-top .menu-btn {
        margin-right: 24px;
    }

    .header-top .header-action-bar {
        margin-left: auto;
    }

.action-btn {
    font-size: 0px;
    margin-right: 23px;
}

    .action-btn:last-child {
        margin-right: 0px;
    }

.header-left {
    display: flex;
    height: 768px;
    align-items: center;
}

    .header-left .social-buttons {
        display: flex;
        flex-direction: column;
        margin-right: 108px;
    }

    .header-left .social-btn {
        font-size: 0px;
        margin-bottom: 13px;
    }

    .header-left .social-btn:last-child {
        margin-bottom: 0px;
}

.header-promo h1 {
    padding-left: 4px;
    font-family: Playfair Display;
    font-weight: normal;
    font-size: 45px;
    line-height: 60px;

    color: #1B1A17;
}

.header-promo h2 {
    padding-left: 4px;
    margin-top: 16px;
    font-family: Playfair Display;
    font-weight: normal;
    font-size: 30px;
    line-height: 40px;

    color: #1B1A17;
}

.header-promo p {
    padding-left: 4px;
    margin-top: 39px;
    margin-bottom: 64px;
    font-family: Roboto;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: rgba(27, 26, 23, 0.82);
}

.header .btn {
    color: #FFFFFF;
    background-color: #444240;
}

.watch-main {
    position: absolute;
    left: 607px;
    top: -9.41px;
    transform: rotate(-0.18deg);
}

.watch-feature {
    font-family: Prata;
    font-size: 16px;
    line-height: 22px;

    color: #1B1A17;
}

.price {
    position: absolute;
    left: 528px;
    top: 138px;
}

    .price p {
        display: inline-block;
        margin-right: 7px;
    }

.characteristic {
    position: absolute;
    left: 1075px;
    top: 636px;
}

.popular-items {
    padding-top: 79px;
    padding-bottom: 80px;
    background: #fff;
}

.section-title {
    font-family: Playfair Display;
    font-weight: normal;
    font-size: 32px;
    line-height: 43px;

    color: #1B1A17;
}

.popular-items .section-title {
    text-align: center;
}

.catalog-link {
    position: relative;
    top: -10px;
    margin-bottom: 30px;

    text-align: right;
}

.catalog-link a {
    font-weight: 500;
    line-height: 19px;

    color: #444240;
}

.catalog-row {
    display: flex;
    flex-wrap: wrap;
}

.catalog-item {
    position: relative;
    background-color: #FDFDFB;
    padding: 40px;
}

.catalog-row-top {
    height: 467px;
}

.catalog-row-bottom {
    height: 220px;
}

.catalog-row-top {
    margin-bottom: 40px;
}

.catalog-item-top-left {
    width: 290px;
    margin-right: 40px;
}

    .catalog-item-top-left img {
        position: absolute;
        top: 84px;
        left: 41px;
    }

.catalog-item-top-right {
    padding: 55px;
    padding-bottom: 48px;

    flex-grow: 1;
}

    .catalog-item-top-right img {
        position: absolute;
        top: 6px;
        left: 230px;

        transform: scale(1.03);
        transform-origin: top;
    }

.catalog-item-bottom-left {
    width: 485px;
    margin-right: 40px;
    height: 140px;
}

    .catalog-item-bottom-left img {
        position: absolute;
        top: 0px;
        left: 209px;
    }

.catalog-item-bottom-right {
    width: 485px;
    height: 140px;
}

    .catalog-item-bottom-right img {
        position: absolute;
        top: -3px;
        left: 278px;
    }

.catalog-item-title {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;

    color: rgba(27, 26, 23, 0.82);
}

.catalog-item-top-right .catalog-item-title {
    font-size: 18px;
}

.catalog-item-price {
    margin-top: 6px;

    font-family: Prata;
    font-size: 12px;
    line-height: 16px;

    color: rgba(27, 26, 23, 0.82);
}

.catalog-item-top-right .catalog-item-price {
    margin-top: 8px;

    font-size: 16px;
    line-height: 22px;
}

.catalog-item-details {
    display: block;
    margin-top: 77px;
    padding-left: 48px;

    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;

    color: #1B1A17;
}

.catalog-item-top-left .catalog-item-details {
    margin-top: 320px;
}

.catalog-item-top-right .catalog-item-details {
    margin-top: 287px;
    padding-left: 66px;
}

.features {
    padding-top: 52px;
    padding-bottom: 53px;

    background-image: linear-gradient(to right, #F7F5EF 36%, #FDFDFB 36%);
}

.left-column {
    float: left;
    margin-right: 70px;
}

.right-column {
    display: inline-block;
    width: 409px;
    padding-top: 85px;
}

.feature-description {
    margin-top: 35px;
    margin-bottom: 45px;

    font-family: Roboto;
    font-size: 16px;
    line-height: 150%;
    text-align: left;

    color: #444240;
}

.features .btn {
    color: #fff;
    background-color: #D4B098;
}

.photo-switch {
    margin-left: 375px;
    margin-top: 15px;

    font-family: Prata;
    font-size: 12px;
    line-height: 16px;

    color: rgba(27, 26, 23, 0.82);
}

.photo-switch span {
    margin-left: 20px;
    margin-right: 20px;
}


